* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: black;
}
.gap-20{
  gap: 20px;
}
.min-vh-70{
  min-height: 70vh;
}


.app-container{
  .toast{
    display: absolute;
  }
  .active-item{
    border-bottom: 1px solid rgb(97, 218, 251);
    color: rgb(97, 218, 251);
  }
  .form{
    background-color: aliceblue;
    padding: 20px;
    width: 400px;
    border-radius: 5px;
  }
}